.bees-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; /* Ensure it's behind the content */
}

.bee {
  position: absolute;
  animation-name: moveBee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveBee {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  20% {
    transform: translate(10vw, -15vh) rotate(20deg);
  }
  40% {
    transform: translate(-15vw, 10vh) rotate(-20deg);
  }
  60% {
    transform: translate(12vw, 15vh) rotate(10deg);
  }
  80% {
    transform: translate(5vw, -10vh) rotate(-10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
